div {
  margin-bottom: 5px;
}
label {
  display: inline-block;
  width: 100px;
  
  
}
.radio {
  margin-top: -1px;
  vertical-align: middle; 
  float:left;
}

table, th, td {
  border:1px solid black;
}

